<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<script>

	var app = angular.module("ItemCalculator", []);
	app.controller("MainController", function($scope,$http)
	{

		$scope.last_message = "";
		$scope.calculator = {
			"messages":
			{
				"rank_team":"Great Job. Wait to receive a password to reveal the expert's answers.",
				"rank_individual":"Good. Now fill out the second column as a team.",
				"password_revealed":"Check your score and then fill out your survey ",
				"default":"Fill out the first column individually."
			},
			"expert_rank_password":"contexto",
			"reveal_expert_rank":false,
			"items":
			{
				"Box_of_matches":
				{
					"name":"Box_of_matches",
					"label":"Box of matches",
					"rank_individual":0,
					"rank_team":0,
					"rank_expert":15
				},
				"Food_concentrate":
				{
					"name":"Food_concentrate",
					"label":"Food concentrate",
					"rank_individual":0,
					"rank_team":0,
					"rank_expert":4
				},
				"50ft_of_nylon_rope":
				{
					"name":"50ft_of_nylon_rope",
					"label":"50 feet of nylon rope",
					"rank_individual":0,
					"rank_team":0,
					"rank_expert":6
				},
				"Parachute_silk":
				{
					"name":"Parachute_silk",
					"label":"Parachute silk",
					"rank_individual":0,
					"rank_team":0,
					"rank_expert":8
				},
				"Portable_heating_unit":
				{
					"name":"Portable_heating_unit",
					"label":"Portable heating unit",
					"rank_individual":0,
					"rank_team":0,
					"rank_expert":13
				},
				"Two_.45_calibre_pistols":
				{
					"name":"Two_.45_calibre_pistols",
					"label":"Two .45 calibre pistols",
					"rank_individual":0,
					"rank_team":0,
					"rank_expert":11
				},
				"One_case_of_dehyrdated_milk":
				{
					"name":"One_case_of_dehydrated_milk",
					"label":"One case of dehydrated milk",
					"rank_individual":0,
					"rank_team":0,
					"rank_expert":12
				},
				"Two_100lbs_tanks_of_oxygen":
				{
					"name":"Two_100lbs_tanks_of_oxygene",
					"label":"Two 100 lb. tanks of oxygen",
					"rank_individual":0,
					"rank_team":0,
					"rank_expert":1
				},
				"Stellar_map":
				{
					"name":"Stellar_map",
					"label":"Stellar map",
					"rank_individual":0,
					"rank_team":0,
					"rank_expert":3
				},
				"Self_inflating_life_raft":
				{
					"name":"Self_inflating_life_raft",
					"label":"Self-inflating life raft",
					"rank_individual":0,
					"rank_team":0,
					"rank_expert":9
				},
				"Magnetic_compass":
				{
					"name":"Magnetic_compass",
					"label":"Magnetic compass",
					"rank_individual":0,
					"rank_team":0,
					"rank_expert":14
				},
				"20_litres_of_water":
				{
					"name":"20_litres_of_water",
					"label":"20 litres of water",
					"rank_individual":0,
					"rank_team":0,
					"rank_expert":2
				},
				"Signal_flares":
				{
					"name":"Signal_flares",
					"label":"Signal flares",
					"rank_individual":0,
					"rank_team":0,
					"rank_expert":10
				},
				"First_aid_kit_including_injection_needle":
				{
					"name":"First_aid_kit_including_injection_needle",
					"label":"First aid kit including injection needle",
					"rank_individual":0,
					"rank_team":0,
					"rank_expert":7
				},
				"Solar-powered_FM_receiver-transmitter":
				{
					"name":"Solar-powered_FM_receiver-transmitter",
					"label":"Solar-powered FM receiver-transmitter",
					"rank_individual":0,
					"rank_team":0,
					"rank_expert":5
				}
			}
		};

		$scope.state = "default";

		$scope.checkIfColumnFilled = function(column)
		{
			var filled = 0;
			var cnt = 0;
			
			for(var i in $scope.calculator.items)
			{
				cnt++;
				var item = $scope.calculator.items[i];
				if(item[column]>0)
				{
					filled++;
				}
			}
			
			
			if(column=="rank_individual")
			{
				if(filled==cnt)
				{
					$scope.state = "step1_completed";
					return true;
				}
				else
				{
					$scope.state = "default";
					$scope.last_message = "";
					$scope.calculator.reveal_expert_rank = false;
				}
				//$scope.status = $scope.calculator.messages["rank_individual"];
			}
			else if(column=="rank_team")
			{
				if(filled==cnt)
				{
					$scope.state = "step2_completed";
					return true;
				}
				else
				{
					$scope.last_message = "";
					$scope.calculator.reveal_expert_rank = false;
				}
				//$scope.status = $scope.calculator.messages["rank_team"];
			}

			///return true;
			
			
			return false;
		}

		$scope.getRanks = function(x,node)
		{
			if(x==undefined || x==null)
			{
				return new Array();
			}
			var arr = new Array();
			//arr.push("None");
			var cnt = 0;

			var selectedRanks = new Array();
			for(var i in $scope.calculator.items)
			{
				//cnt++;
				selectedRanks.push($scope.calculator.items[i][x]);
				//arr.push(cnt);
			}
			console.log(selectedRanks);
			for(var i in $scope.calculator.items)
			{
				cnt++;
				if(selectedRanks.indexOf(cnt)==-1 || node[x]==cnt)
				{
					arr.push(cnt);
				}
			}
			return arr;
		}

		$scope.my_total = 0;
		$scope.team_total = 0;
		$scope.abs = function(x,n)
		{
			var y = Math.abs(x);
			if(n=="my_total")
			{
				$scope.my_total += y;
			}
			else if(n=="team_total")
			{
				$scope.team_total += y;
			}
			return y;
		};

		$scope.getItemsCount = function()
		{
			
			var cnt = 0;

			for(var i in $scope.calculator.items)
			{
				cnt++;
			}
			return cnt;
		}

		$scope.reveal = function()
		{
			var p = window.prompt("Enter the Password:");
			if(p==$scope.calculator.expert_rank_password)
			{
				$scope.calculator.reveal_expert_rank = true;
				$scope.last_message = $scope.calculator.messages["password_revealed"];
				$scope.state = "step3_completed";//$scope.calculator.messages["password_revealed"];
			}
		};

		$scope.getTotals = function(n)
		{	
			var tot = 0;
			for(var i in $scope.calculator.items)
			{
				var item = $scope.calculator.items[i];
				if(n=="team_total")
				{
					if(item.rank_team>0)
					{
						var diff = item.rank_expert - item.rank_team;
						diff = Math.abs(diff);
						$scope.team_total += diff;
						tot += diff;
					}
				}
				else if(n=="my_total")
				{
					if(item.rank_individual>0)
					{
						var diff = item.rank_expert - item.rank_individual;
						diff = Math.abs(diff);
						$scope.my_total += diff;
						tot += diff;
					}
				}
			}
			return tot;
		}

		$scope.status = "Fill in the first column individually.";

		
	});



</script>

<link rel="stylesheet" type="text/css" href="twbs.css" />
<link rel="stylesheet" type="text/css" href="style.css" />


<body>
	<div ng-app="ItemCalculator" ng-controller="MainController" class="twbs">

		<div class="row">
			<div class="col-md-12 status"><span ng-show="state=='default' && last_message==''">{{calculator.messages["default"]}}</span><span ng-show="state=='step1_completed' && last_message==''">{{calculator.messages["rank_individual"]}}</span><span ng-show="state=='step2_completed' && last_message==''">{{calculator.messages["rank_team"]}}</span><span ng-show="last_message!=''">{{calculator.messages["password_revealed"]}} <a target="_blank" href='https://docs.google.com/forms/d/e/1FAIpQLSdPiKARynNMwxkizE-Fi5LrfjPg9ftQUlALuWYRHw1u8c40vQ/viewform'>here.</a></span></div>
		</div>
		<div class="row header">
			<div class="col-md-2 aleft">Items to pack</div>
			<div class="col-md-2">Rank Individually</div>
			<div class="col-md-2">Rank as a Team</div>
			<div class="col-md-2">Expert Rankings</div>
			<div class="col-md-2">Your Difference</div>
			<div class="col-md-2">Team Difference</div>
		</div>

		

		<div class="row" ng-repeat="(name,item) in calculator.items">
			<div class="col-md-2"><label for="dd{{$index}}">{{item.label}}</label></div>

			<div class="col-md-2" ng-class="{filled:checkIfColumnFilled('rank_individual')}">
				<select id="dd{{$index}}" tabindex="{{$index}}" ng-model="calculator.items[name].rank_individual" ng-options="item as item for item in getRanks('rank_individual',calculator.items[name])" ng-class="{w90:true}"></select><span ng-click="calculator.items[name].rank_individual=-1" ng-show="calculator.items[name].rank_individual>0" class="clear_box">X</span></div>

			<div class="col-md-2"><select tabindex="{{$index+getItemsCount()}}" ng-disabled="!checkIfColumnFilled('rank_individual')" ng-model="calculator.items[name].rank_team" ng-options="item as item for item in getRanks('rank_team',calculator.items[name])" ng-class="{w90:true}"></select><span ng-click="calculator.items[name].rank_team=-1" ng-show="calculator.items[name].rank_team>0" class="clear_box">X</span></div>

			<div class="col-md-2 center bold"><span ng-click="reveal()" ng-show="checkIfColumnFilled('rank_team') && !calculator.reveal_expert_rank && $index==0" class="btn_reveal">Reveal</span><span ng-show="calculator.reveal_expert_rank">{{calculator.items[name].rank_expert}}</span></div>

			<div class="col-md-2 center bold"><span ng-show="calculator.items[name].rank_individual>0 && calculator.reveal_expert_rank" ng-bind="abs(calculator.items[name].rank_individual - calculator.items[name].rank_expert,'my_total')"></span></div>

			<div class="col-md-2 center bold"><span ng-show="calculator.items[name].rank_team>0 && calculator.reveal_expert_rank" ng-bind="abs(calculator.items[name].rank_team - calculator.items[name].rank_expert,'team_total')"></span></div>
		</div>


		<div class="row">
			<div class="col-md-2">&nbsp;</div>

			<div class="col-md-2"	>&nbsp;</div>

			<div class="col-md-2">&nbsp;</div>

			<div class="col-md-2 center bold">&nbsp;</div>

			<div class="col-md-2 center bold">
				<div class="totals" ng-show="calculator.reveal_expert_rank">
					<div class="head">Individual Score</div>
					<div class="cnt"><span ng-bind="getTotals('my_total')"></span></div>
				</div>
			</div>

			<div class="col-md-2 center bold">
				<div class="totals" ng-show="calculator.reveal_expert_rank">
					<div class="head">Team Score</div>
					<div class="cnt"><span ng-bind="getTotals('team_total')"></span></div>
				</div>
			</div>
		</div>



		</div>
<div id="link" style="display:none"><a href="">Now check your score</a></div>
</body>
<script>
setTimeout(function(){

	//lets declare out select areas
		var dd0 = document.getElementById('dd0')
		var dd1 = document.getElementById('dd1')
		var dd2 = document.getElementById('dd2')
		var dd3 = document.getElementById('dd3')
		var dd4 = document.getElementById('dd4')
		var dd5 = document.getElementById('dd5')
		var dd6 = document.getElementById('dd6')
		var dd7 = document.getElementById('dd7')
		var dd8 = document.getElementById('dd8')
		var dd9 = document.getElementById('dd9')
		var dd10 = document.getElementById('dd10')
		var dd11 = document.getElementById('dd11')
		var dd12 = document.getElementById('dd12')
		var dd13 = document.getElementById('dd13')
		var dd14 = document.getElementById('dd14')
	//Lets put event listners on all of them
		dd0.onchange = function(){checkDD()}
		dd1.onchange = function(){checkDD()}
		dd3.onchange = function(){checkDD()}
		dd4.onchange = function(){checkDD()}
		dd5.onchange = function(){checkDD()}
		dd6.onchange = function(){checkDD()}
		dd7.onchange = function(){checkDD()}
		dd8.onchange = function(){checkDD()}
		dd9.onchange = function(){checkDD()}
		dd10.onchange = function(){checkDD()}
		dd11.onchange = function(){checkDD()}
		dd12.onchange = function(){checkDD()}
		dd13.onchange = function(){checkDD()}
		dd14.onchange = function(){checkDD()}
	//this is the checker Functuib
	function checkDD(){
		if(
		dd0.value!='?' && 
		dd1.value!='?' && 
		dd2.value!='?' && 
		dd3.value!='?' && 
		dd4.value!='?' && 
		dd5.value!='?' && 
		dd6.value!='?' &&
		dd7.value!='?' &&
		dd8.value!='?' &&
		dd9.value!='?' &&
		dd10.value!='?' &&
		dd11.value!='?' &&
		dd12.value!='?' &&
		dd13.value!='?' &&
		dd14.value!='?' 
		){document.getElementById("link").style.display = 'none'}
	}
},1000)
</script>
