.twbs .filled
	{
		opacity: 0.5;
	}
	.twbs .status
	{
		text-align: center;
	    background: #fff;
	    font-size: 40px;
	    padding: 120px;
	    margin-bottom: 100px;
	    font-weight: 500;
	    color: #000;
	}
	body
	{
		padding:50px;
		font-family: 'Poppins', sans-serif;
		font-size: 20px;
	}
	.twbs .row
	{
		margin-bottom: 5px;
	}
	.twbs label
	{
	    color: #000;
		position: relative;
	    top: 4px;
	    font-size: 14px;
	}
	.twbs select
	{
		width: 100%;
		padding:4px;
		font-size:16px !important;
	}
	.twbs select.w90
	{
		width:90%;
	}
	.twbs .btn_reveal
	{
		cursor: pointer;
		display: inline-block;
	    background: #fff;
	    color: #000;
	    font-weight: bold;
	    text-align: center;
	    width: 50%;
	    padding: 5px;
	    border-radius: 5px;
	}
	.twbs .row.mheader
	{
		font-weight: bold;
		margin-bottom: 20px;
	}
	.twbs .row.mheader .col-md-2
	{
		font-size: 20px;
    	color: #000;
    	text-transform: none;
    	text-align: center;
	}
	.twbs .aleft
	{
		text-align: left !important;
	}
	.twbs .center.bold
	{
		text-align: center;
		font-size:14px;
		font-weight: bold;
	}
	.twbs .clear_box
	{
		width: 10%;
	    text-align: center;
	    background: #fff;
	    color: #000;
	    position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    font-size: 10px;
	    padding-top: 5px;
	    padding-bottom: 5px;
	    border-top-right-radius: 10px;
	    border-bottom-right-radius: 10px;
	    font-weight: bold;
	    cursor: pointer;
	}
	.twbs .clear_box:hover
	{
		opacity: 0.7;
	}
	.twbs .totals
	{
		color:#000;
	}
	.twbs .totals div.head
	{
		font-size: 20px;
    	color: #000;
	}
	.twbs .totals div.cnt
	{
		font-size: 80px;
    	font-weight: bold;
    	color: #000;
	}
